/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}


.fa-icon:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*===========================================================================
   Base
  ===========================================================================*/
/* 1em is equal to the current font size 16px=12pt=1em*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 17pt;
}

body {
    font-family: 'Source Sans Pro', Sans-Serif;
    font-size: 100%;   /* Set a default font-size of 100% for body */
    font-weight: 300;  /* Refers to the boldness or lightness of the glyphs used to render the text, relative to other
                         fonts in the same font family. normal/bold(thick)/bolder/lighter/thicker(900)*/
    line-height: 1.75; /* Preference is to use unit-less number for line-height value-MDN*/
    color: #888;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
    line-height: 1.5;
}
    h2 {
        font-size: 2em;  /* Supported by all modern browsers, the CSS3 rem unit allows font size and other properties
                          to be specified against the root element, not just the parent, as in the case of the em unit*/
        letter-spacing: -1px;
    }

p {
    padding-bottom: 2em;
}

strong, b {
    font-weight: 300;
    font-color: #666;
}



/*===========================================================================
   Sidebar
  ===========================================================================*/
.wrapper {
    min-width: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 22%;
    text-align: right;
    background: #222729
                url('imgs/overlay.jpg');
    box-shadow: inset -0.25em 0 0.25em 0
                rgba(0, 0, 0, 0.125);
}

.logo {
    background-image: url('../imgs/photo.jpg');
    background-repeat: no-repeat;
    background-position: 34px 40px; /* starts from 0,0, specify x,y ie, left, right  */
    padding: 1.75rem 1.5rem 1.5rem 1.5rem;
}

.logo > h1 {
    position: relative;
    font-size: 1rem;
    line-height: 1rem;
    color: #fff;
}

.logo > span {
    position: relative;
    display: block;
    margin: 0.5em 0 0 0;
    font-size: 0.6em;
    line-height: 1.25rem;
    color: rgba(255, 255, 255, 0.5);

}

.logo > p {
    margin: 0;
    padding: 0;
}

#nav ul.menu {
    padding: 0;
    margin: 0;
}

#nav ul li a.menu-item {
    display: block;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    text-decoration: none;
    outline: 0;
    border: 0;
    position: relative;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
}

.menu-item:before {
    position: absolute;
    left: 1.5rem;
    font-size: 1rem;
}

.menu-item:before:hover {
    color: #e27689;
}

#nav ul li a.menu-item:hover {
    background: #1b2021;
    color: #ffffff;
}


/*==========;================================================================
Main Content
==========;==================================================================*/
/*
 * The sidebar width is set to 20%, use display: inline-block to align main content
   next to sidebar with margin-left: 20%.
 */
.main-content {
    display: inline-block;
    margin-left: 22%;
    text-align: center;
}

.main-content > section {
    margin: 0;
    overflow: hidden;
    padding: 3em 0 4em 0;
    background-image: url('imgs/overlay.jpg');
}

/*
 * Set the width of container for main-content to 90% and margin-left, margin-right to auto
 */
.main-content .container {
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
/* Intro Section */
.main-content > section.intro {
    background: #fff;
    padding-top: 0;
    background-image: none;
}
    .main-content > section.intro .image.big
    {
        margin: 0 0 3em 0;
    }

        .main-content > section.intro a.dotted {
            border-bottom: dotted 1px rgba(128, 128, 128, 0.5);
        }

        .main-content > section.intro a.dotted:hover {
            color: #e27689;
            border-bottom-color: #fff;
        }
/* Portfolio Section */
.portfolio {
    background-color: #ebf0f0;
}

/* About Me Section */
.about-me {
    background-color: #e6ebeb;
}
.pic-container {
    display: inline-block;
    vertical-align: top;
}

.pic-container header {
    background: #fff;
    padding: 1em 0;
    font-size: 0.8em;
}

.pic-container header h3 {
    font-size: 1em;
    font-weight: 200;
    color: #666;
    line-height: 1.5em;
}

.pic-container article {
    margin-bottom: 2em;
}

/* Contact Section */
.contact-me {
    background-color: #e1e5e4;
}

.contact-container {
    margin-left: -1em;
    margin-bottom: 2em;
    padding-bottom: 2em;
}

    .contact-container > div {
        position: relative;
        width: 50%;
        float: left;
        padding-left: 1em;
    }

        .text1, .text2 {
            position: relative;
            width: 100%;
            display: block;
            background: rgba(255, 255, 255, 0.75);
            border-radius: 0.35em;
            padding: 0.75em 1em 0.75em 1em;
            box-shadow: 0 0.1em 0.1em inset rgba(0,0,0, 0.05);
            border: solid 1px rgba(0, 0, 0, 0.15);
        }

        .text2 {
            float:right;
        }

    form textarea {
        min-height: 14em;
    }

    form input.text:focus,
    form textarea:focus
    {
        box-shadow: 0 0 2px 1px #8ededc;
        background: #fff;
    }

/* Button */
.button {
    background-color: #8ebebc;
    background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url('imgs/overlay.jpg');
    transition: background-color 0.35s ease-in-out;
    cursor: pointer;
    border: 0;
    color: #fff;
    padding: 1em 2em;
    text-decoration: none;
    border-radius: 0.35em;
}

.button:hover
{
    background-color: #9ececc;
}

.button:active
{
    background-color: #7eaeac;
}

/* ==========;================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
