* {
    border: solid;
}

.div1 {
overflow: scroll; /* values can be auto-for browser to automatically set the scroll, hidden or visible(default) */
}
.cursorStyle {
    cursor:pointer;
    /*auto/crosshair/help/move/text/progress/ne-resize */
}
img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    clip:rect(0px,60px,200px,0px);
}

/* to clear float after for elements that shouldn't wrap around the
 floated element*/
.box {
    float: left;
    width: 200px;
    height: 100px;
    margin: 1em;
}
.after-box {
    clear: left;
}
/* clearfix hack - if the image is taller than the element
containing it, and it's floated, so its overflowing outside
of its container! */
.clearfix {
    overflow: auto;
}